@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --greencolor: #097f21;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-greencolor: var(--greencolor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground: #097f21;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
